

.accordeon__wrapper {
  height: 100vh;
  background-color: #8E44AD;
  display: flex;
  align-items: center;
  justify-content: center;
}


.accordeon__image {
  display: none;
}

.accordeon__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 25vw;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 24px;
  background-color: #FFC300;
  
}