
.container {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}

.accordeon__wrapper {
  min-height: 100vh;
  background-color: #8E44AD;
  display: flex;
  align-items: center;
  
}

.accordeon {
  color: blue;
  transition: all .3s;
}

.accordeon:hover {
  color: #000;
}
.accordeon__header-img {
  width: 24px;
  height: 24px;
  display: none;
  transition: all .3s;
}

.accordeon:hover .accordeon__header-img {
  display: block;
}



.accordeon__item {
  margin-bottom: 10px;
  /* width: 25vw; */
  border-radius: 8px;
  font-size: 24px;
  background-color: #FFC300;
  padding: 10px 0;
}

.accordeon__header {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordeon__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height .3s ease-out;
}

.accordeon__item input[type="checkbox"] {
  display: none;
}

.accordeon__item input[type="checkbox"]:checked ~ .accordeon__content {
  max-height: 100vh;
  transition: max-height .3s ease-in;
}

